{% for issue in issues -%}

{% for iss in issue.issues -%}
{{ color.GREEN }}{{ iss.path }}
{% set severity_color = color.RED if iss.rule.severity.name == "HIGH" else color.YELLOW if iss.rule.severity.name == "MEDIUM" else color.CYAN -%}
{{ severity_color }}{{ "%-6s" % iss.rule.severity }}{{ color.BLUE }}  {{ iss.rule.message }}
{% if iss.commit -%}
Branch  {{ iss.branch }}
Message {{ iss.message.splitlines()[0] }}
Author  {{ iss.author }}
Commit  {{ iss.commit }}
{% endif -%}
{{ color.RESET -}}
{% set fmt = "%%%ds" % iss.line_end | string | length -%}
{% for number, line in iss.context.items() -%}
{% if number == iss.line -%}
    {{ severity_color -}}
    {% set line = line | replace(iss.secret, severity_color + iss.secret + color.RESET) -%}
{% else -%}
    {{ color.GRAY -}}
{% endif -%}
{{ fmt % (number) }}{{ color.RESET }}  {{ line }}
{% endfor -%}
{% if not loop.last -%}
{{ color.GRAY }}{{ "~" * 80 }}{{ color.RESET }}
{% endif -%}
{% endfor -%}
{% endfor -%}
